

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 167,192,128;
  --accentcolor2: 255,115,250;
  --linkcolor: 127,187,179;
  --mentioncolor: 230,152,117;
  --textbrightest: 211,198,170;
  --textbrighter: 211,198,170;
  --textbright: 211,198,170;
  --textdark: 211,198,170;
  --textdarker: 211,198,170;
  --textdarkest: 211,198,170;
  --font: Ubuntu Sans;
  --backgroundaccent: 61,72,77;
  --backgroundprimary: 39,46,51;
  --backgroundsecondary: 46,56,60;
  --backgroundsecondaryalt: 60,72,65;
  --backgroundtertiary: 65,75,80;
  --backgroundfloating: 73,81,86;
  --settingsicons: 1;
}
/* Hides Store and Shop button */
[href="/store"], 
[href='/shop']
{
  display: none;
}
/* Hide Nitro Gift button */
button[aria-label="Send a gift"] {
  display: none;
}


/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

