/* -----------------------------------------------------
 *                      General
 * ----------------------------------------------------- */
/* Colors */
@define-color bg  #272E33;
@define-color bg2 #2E383C;
@define-color bg3 #374145;
@define-color fg  #D3C6AA;
@define-color red #E67E80;
@define-color blue #7FBBB3;
@define-color purple #D699B6;
@define-color green #A7C080;

* {
    font-family:
        JetBrainsMono Nerd Font,
        sans-serif;
    font-size: 14px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

/* -----------------------------------------------------
 *                      Tooltip
 * ----------------------------------------------------- */

tooltip {
    background: @bg;
    border: solid 1px @bg3;
}
tooltip label {
    color: @fg;
}

/* -----------------------------------------------------
 *                      Window
 * ----------------------------------------------------- */

window#waybar {
    /* background-color: rgba(16, 20, 25,0.5); */
    background-color: @bg;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    color: @fg;
    padding: 0 10px;
}

/* -----------------------------------------------------
 *                  Workspaces
 * ----------------------------------------------------- */

#workspaces {
    background-color: @bg;
    padding: 2px 5px;
}

#workspaces button {
    min-width: 20px;
    color: @blue;
    padding: 0px 5px;
    font-weight: normal;
}

#workspaces button.focused {
    color: @fg;
    background-color: @bg;
}
#workspaces button.active {
    color: @green;
    background-color: @bg;
}

#workspaces button.urgent {
    color: @purple;
    background-color: @bg;
}

/* -----------------------------------------------------
 *                      Modules
 * ----------------------------------------------------- */

#cpu,
#memory,
#battery,
#pulseaudio,
#wireplumber,
#custom-mic,
#custom-mako,
#custom-todo,
#custom-discord,
#custom-autotile,
#tray,
#battery.charging,
#battery.plugged,
#network {
    color: @fg;
    padding: 0 6px;
    margin: 2px 2px 2px 2px;
}

#network.disconnected {
    color: @purple;
}

#clock {
    color: @fg;
    padding: 0 5px;
    margin: 2px 2px 2px 2px;
}

#mode {
    color: @bg;
    background-color: @purple;
    padding: 0 10px;
    margin: 2px 2px 2px 2px;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    margin: 2px 2px 2px 2px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#custom-logo {
    color: @fg;
    margin: 2px 2px 2px 2px;
}
#custom-power {
    color: @fg;
    padding: 0 10px;
    margin: 2px 2px 2px 2px;
}

#custom-sep,
#custom-sep2,
#custom-sep3 {
    color: @fg2;
}
